/* custome styles */

.circular-img {
    width: 250px; /* Example size - feel free to adjust */
    height: 250px; /* Must match width for a perfect circle */
    border-radius: 50%; /* Makes it a circle */
    object-fit: cover; /* Ensures the image fills the circle */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light, subtle shadow */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}
.circular-img:hover {
    transform: scale(1.03); /* Subtle scale up on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Slightly darker shadow on hover */
}

.navbar-brand {
    width: 100px;
}
